/* API */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');

/* END of API */

/* Personal Quick settings */
:root {
  --primary-color: #90fcf9;
  --secondary-color: #4ecdc4;
  --accent1-color: #7699d4;
  --accent2-color: #56cbf9;

  --heading-font: "Arial Black", Gadget, sans-serif;
  --paragraph-font: Georgia, serif;

  --paragraph-color: #1160f2;
  --headline-color-on-white: #4ecdc4;  
  --headline-color-on-color: #7699d4; 
  --paragraph-color-on-white: #4ecdc4; 
  --paragraph-color-on-color: #7699d4;  
  --text-background-color: #000000;
  --nav-link-color: #396E94;
  --nav-background-color: #56cbf9;
  --nav-hover-link-color: #56cbf9;
  --nav-hover-background-color: #396E94;
}

/*Quick settings CSS*/
html {
  background-color: var(--primary-color);
}
body {
  max-width: 900px;
  height: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 1em;
}
img {
  max-width: 100%;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--paragraph-color-on-color);
  background-color: var(--text-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color);
  padding: 1em;
}
/* END of Quick settings CSS*/

/* Colors */
.colors {
  width: 100%;
  min-width: 350px;
  margin: auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}

p.colored {
  background-color: var(--text-background-color);
  color: var(--paragraph-color-on-color);
}
/* END of Colors */

/* NAV */
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav > ul {
  list-style-type: none;
  display: flex;

}
nav a {
  padding:1em;
  min-width: 70px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}

/* END of NAV */
.top {
  grid-area: top;
  border-left: 1px solid;
}

.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}

.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}

.doe1 {
  float: left;
  background-color: purple;
}
.doe2 {
  float: right;
  background-color: purple;
}

/*
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 100%;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: black;
  color: black;
}

.flip-card-back {
  background-color:black;
  color: white;
  transform: rotateY(180deg);
}
*/
