h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Slab', serif;
 }
 
 img{
  padding-top: 10px;
  padding-right: 10px;
  float: right;
 }
header{
  padding-top: 1px;
  background-color: burlywood;
  text-align: center;
  border-radius: 15px;
} 

.javaP{
  padding-top: 0em;
}
p { 
  font-family: "Georgia";
  }
#all-page {
  max-width: 960px;
  margin: 0 auto;
  }  
main{
  padding: 1em;
  background-color: white;
  }


footer{
  padding-top: -5px;
  padding-bottom: -5px;
  text-align: center;
  background-color: burlywood;
  font-family: "Arial Black";
  border-radius: 15px;
  }
  
  {
    box-sizing: border-box;
  }

.left{
  background-color: purple;
  float: left;
  
}
.right{
  background-color: red;
  float: right;
  
}
.middle{
  background-color: purple;
  
  
}
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
    
  @media screen and (min-width: 500px){
    #info{
      width: 80%;
      max-width: 1000px;
      margin: 50px auto;
    }
    h1,footer{
      border-radius:15px;
    }
    img{
      float: right;
      width:20%;
      border-radius: 5px;
    }
    
  }
  @media screen and (min-width: 45em) {
    main{
      display: grid;
      grid-template-columns: 1fr 1fr;
      /* background-color: purple; */
      grid-gap:45px;
    }
    /*img.self-img{
      background-color: green;
    } */
    
  }
  @media screen and (min-width: 70em) {
    main{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        /*background-color: green; */
      }
      
      
  }
  
  
  /* Casper Sato */

